
#root{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header{
  grid-column: span 2;
  background-color: skyblue;
  text-align: center;
}

.userInfo{
  color: green;
}

.livePreview{
  border: dashed black 1px;
}