#root{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header{
  grid-column: span 2;
  background-color: lightgrey;
  text-align: center;
  font-size: 4em;
  padding: .25em 0;
  margin-bottom: 1em;
}




.userInfo{
  display: flex;
  flex-direction: column;
  gap: 5em;
  margin: 2em 4em;
}

.infoBox{
  font-size: 3em;
}

.expandBtn{
  font-size: inherit;
}

.infoBoxHeader{
  display: flex;
  justify-content: space-between;
}

.infoBoxForm{
  display: flex;
  flex-direction: column;
  gap: .25em;
  margin-top: 1em;
  font-size: .5em;
  padding: 0 3em;
}

label{
  font-weight: bold;
}

input{
  width: 100%;
  font-size: inherit;
}

form button{
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding: 10px 50px;
  background-color: rgb(16, 113, 223);
  color: white;
  font-weight: bold;
  font-size: inherit;
}










.livePreview{
  margin: 2em 4em;
  border: dashed black 1px;
  min-height: 800px;
}

